/*
    Bigboard slider styles here
*/

.bigboard-slider{
    position: relative;
    height: 0;
    overflow: hidden;
}

.bigboard-slider img {
    position: absolute;
}

#bigboard-slides {
    box-shadow: 0px 0px 92px #8e8e8e;
    font-size: 0;
    white-space: nowrap;
    overflow: hidden;
}

#bigboard-slides .bigboard-slice {
    height: 100%;
    display: inline-block;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#bigboard-slides figure {
    display: block;
    position: absolute;
    left: -.3px;
    top: 0;
    right: -.3px;
    bottom: 0;
    margin: 0;
}

#bigboard-slides .back, #bigboard-slides .flipped {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
